# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user


# large data files
houseprices/
england-latest.shp/
ONSPD_MAY_2014_csv/
osmaps/

*.zip

*.toc

*.lot

*.log

*.lof

*.fls

*.fdb_latexmk

*.blg

report/article_4.out

report/article_4.bbl
writeup/images/inkscape/sw184hu_v2.svg
writeup/images/inkscape/sw184hu.svg
